<a href="https://colab.research.google.com/github/Ajalyst/Ajay-Kumar-/blob/main/Exercise_1_Programming_for_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXERCISE 1-PROGRAMMING FOR ANALYTICS

Q.1

In [ ]:
Num1 = int(input("Enter First Integer : "))
Num2 = int(input("Enter Second Integer : "))

if Num1 < Num2:
    print("First number is less than the second")
elif Num1 > Num2:
    print( "Second number is less than the first")
elif Num1 == Num2:
    print("The numbers are equal")

Enter First Integer : 33
Enter Second Integer : 23
Second number is less than the first

Q.2

In [ ]:
age = int(input("Enter Age : "))

if age >= 18:
    print("You are eligibel to vote")
else:
    print("You Cannot Vote")

Enter Age : 45
You are eligibel to vote

Q.3

In [ ]:
age = int(input("Please enter your age : "))

if 18 <= age <= 30:
    print("You are eligible to go on vacation!!!")
else:
    print("Sorry! you are not eligible.")

Please enter your age : 43
Sorry! you are not eligible.

Q.4

In [ ]:
Salary = float(input("Enter your salary in EUROS please : "))

if Salary <= 10000:
    print("You don't pay any Tax")
elif 10000 <= Salary <= 50000:
    s = Salary - 10000
    print("You need to pay 20% Tax")
    print("You pay ", s*0.2," in TAX")
elif Salary > 50000:
    s = Salary - 50000
    print("You need to pay 40% Tax")
    print("You pay ", 8000+(s*0.4)," in TAX")

Enter your salary in EUROS please : 50000
You need to pay 20% Tax
You pay  8000.0  in TAX

Q.5

In [ ]:
num = int(input("Enter a Number from the following List [1,2,3,4] : "))

if num == 1:
    print("1 = Diamonds")
elif num == 2:
    print("2 = Hearts")
elif num == 3:
    print("3 = Clubs")
elif num == 4:
    print("4 = Spades")
else:
    print("You entered incorrect value!!!")

Enter a Number from the following List [1,2,3,4] : 2
2 = Hearts

Q.6

In [ ]:
print("Welcome to the SimpleCacl \n\nPress 1 to add two numbers\n\nPress 2 to subtract two numbers\n\nPress 3 to divide two numbers\n\nPress 4 to multiple two numbers \n")

n = int(input("Choose number to be entered : "))

if n == 1:
    a = float(input("Enter 1st Number : "))
    b = float(input("Enter 2nd Number : "))
    print("ADDITION = ",a+b)

elif n == 2:
    a = float(input("Enter 1st Number : "))
    b = float(input("Enter 2nd Number : "))
    print("SUBTRACTION = ",a-b)

elif n == 3:
    a = float(input("Enter 1st Number : "))
    b = float(input("Enter 2nd Number : "))
    print("DIVISION = ",a/b)

elif n == 4:
    a = float(input("Enter 1st Number : "))
    b = float(input("Enter 2nd Number : "))
    print("MULTIPLICATION = ",a*b)

else:
    print("!!YOU ENTERED WRONG CHOICE!!")

Welcome to the SimpleCacl

Press 1 to add two numbers

Press 2 to subtract two numbers

Press 3 to divide two numbers

Press 4 to multiple two numbers

Choose number to be entered : 2
Enter 1st Number : 1
Enter 2nd Number : 22
SUBTRACTION =  -21.0